/* Bagian style untuk contact */
 
/* =======================BAGIAN CONTACT FORM */


.link-contact{
  text-decoration: none;
  margin-left: 20px;
}

.link-contact:hover{
  text-decoration: none;
}


.forms {
  background-image: url(/img/bg_contact2.png);
  background-size: contain;
  width: 700px;
  height: 550px;   
  border: 1px solid #858585;
  margin: 20px;
  margin-left: 300px;
  margin-bottom: 200px;
}


.form input {
  width: 290px;
  
}
.form .body-form ,input button{
margin-left: 35px;


}
.bodyText h1 {
padding: 36px;
text-align: center;
font-size: 30px;
font-weight: bolder;
font-family: 'Josefin Sans', sans-serif;

}
.bodyText img {
width: 180px;
position: absolute;
margin-left: 80px;
margin-top: 10px;
}

.fname .fname-int, input{
display: flex;
float: left;

margin-right: 20px;
height: 30px;

border-radius: 25px;
background-color: #e4e4e4;
padding-left: 12px;

}		

.femail .femail-int, input{
height: 30px;
}

.fnomor .fnomor-int, input{
width: 150px;
float: left;
margin-right: 20px;
height: 30px;
}

.fask .fask-int, input {
float: none;
width: 426px;
height: 30px;
}

.fpesan .fpesan-int, input {
width: 600px;	
border: none;
background-color: #e4e4e4;
}

.fpesan .fpesan-int{
  padding-left: 12px;
  padding-top: 12px;
  line-height: 24px;
  text-align: justify;
}

.fpesan, input , .fpesan-int{
height: 250px;
margin-bottom: 20px;
line-height: 24px;
text-align: justify;


}

.btn-Kirim {
  width: 400px;
  margin-left: 120px;  
  background-color:#474e6d;
}

.btn-Kirim:hover {
  
  background-color:#2d3146;
}

/* =======================BAGIAN CONTACT FORM */


/* ===================== footer ===================== */
footer{
    background-color: black;
    position: relative;
    bottom: 0;
    color: white;
  }
  
  .main_footer{
    display: flex;
  }
  
  .main_footer .box{
    /* flex-basis: 50%; */
    padding: 10px 20px
  }
  
  .box h2{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .box .content{
    margin: 20px 0 0 0;
  }
  
  .left p{
    text-align: justify;
  }
  
  .left .content .social_media{
    margin: 20px 0 0 0;
  }
  
  .left .content .social_media{
    padding: 0 2px;
  }
  
  .left .content .social_media a span{
    height: 40px;
    width: 40px;
    background: white;
    color: black;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    padding: 0 10px;
  }
  
  .left .content .social_media a span:hover{
    background: black;
    color: white;
    border: 1px solid white;
  }
  
  .content img{
    height: 80px;
    width: 80px;
    margin: 20px 0;
  }
  
  .logo_desc{
    padding: 50px 0;
    float: right;
    padding-right: 210px;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  
  .logo_desc:hover{
    text-decoration: none;
  }
  .logo_desc .second{
    font-size: 10px;
  }