html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Google Fonts

font-family: 'Baloo 2', cursive;
font-family: 'Cabin', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Signika Negative', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Varela Round', sans-serif;

*/



/* bagian css */
body {  
    /* height: 100%; */
    font-family: "Quicksand", sans-serif;
}


/* =================UNTUK BAGIAN BERITA DI TOP=========== */
.categories {
	display:contents;
	grid-template-columns: 300px 300px 300px 300px;
	grid-column-gap: 40px;
	justify-content: center;
	margin-bottom: 30px;
	
	
}

.card_category {
	position: relative;
	box-sizing: border-box;
	margin: 10px;
	
}

.card_category img {
	position: absolute;
	box-shadow: 2px 2px 10px -2px #333;
	width: 220px;
	height: 220px;
	object-fit: cover;
	
	left: 20px;
	top: 8	0px;
}


.desc_category {
	padding: 55px 30px 10px;
	height: 510px;
	margin-top: 200px;
	text-align: center;
	
	border: 2px solid #c4c4c4;
	box-shadow: 2px 2px 5px -3px #333;	
	box-sizing: border-box;
	
}

.desc_category span {
	display: block;
	font-size: 12px;
	margin-top: 12px;
	font-style: italic;
	font-family: "Quicksand", sans-serif;
	font-weight: 100;
	text-align: center;

}
.desc_category h2{
	margin: 40px 0px;	
	height: 60px;			
	font-family: "Poppins", sans-serif;
	text-align: left;
	font-size: 18px;
	color: #333;
}

.desc_category p {
	background-color: #c4c4c480;
	padding: 10px;
	color: rgb(10, 10, 10);
	margin-top: 20px;
	
	font-family: "Quicksand", sans-serif;
	font-weight: 100;
	font-size: 16px;
	
	text-align: left;
	line-height: 15px;
}

.desc_category a.recipe_btn{
	color: #555;
	font-weight: bold;
	border-left: 2px solid #fc9d03;
	padding-left: 10px;
}

.desc_category a.recipe_btn:hover {
	color: #fc9d03;
	transition: color 0.3s ease-in-out;
}

.desc_category a.button {
	display: block;
	margin: 20px auto;

	padding: 10px;
	width: 100%;
	font-family: "Poppins", sans-serif;
	background-color: #11100e;
	font-weight: 100;
	color: #fff;
	box-sizing: border-box;
	text-decoration: none;
}

.desc_category a.button:hover {
	color: #333;
	border: 2px solid #c2c2c2;
	background-color: #fff;
	box-sizing: border-box;
	transition: all 0.3 ease-in-out;
	text-decoration: none;
}


/* =================UNTUK BAGIAN BERITA DI MID=========== */

/* ===================== footer ===================== */
footer{	
	height: auto;
	width: 100%;
   
	padding-top: 40px;
	color: #fff;
}
