html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* 
font-family: 'Outfit', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;


#5670e4   biru
#EC1D27   merah
#BE1C2D   merah tua

*/

/* BAGIAN CSS */
body{
	font-family: 'Quicksand', sans-serif
}

.container {
	margin: 15px auto;
	height: auto;
  	border: 1px solid black;
  	display: flex;
}

/* ------------------HEADER LOGO---------------- */
.navbar {
	margin-bottom: 48px;
}

.logo-text{  
	/* masuk ke TEXT group */
	color: white;
	font-size: 16px;
	font-weight: 400;
	
}

.header-logo {
	padding: 5px;
	color: black;
	font-size: 28px;
	text-shadow: 0px 7px  rgb(156, 156, 156);
	font-weight: bolder;
}

.header-logo:hover {
	color: black;
}

.header-mainbg {
	background-color: #C4C4C4;
	padding: 0px;
	top: 0px;
	width: 100%;  	
	
}


  
  #navbarSupportedContent {
	overflow: hidden;
	position: relative;
  }
  
  #navbarSupportedContent ul li a i {
	margin-right: 10px;
  }
  
  #navbarSupportedContent li {
	list-style-type: none;
	float: left;
  }

  #navbarSupportedContent ul li a {
	color: #959696;
	text-decoration: none;
	font-size: 16px;
	/* display: block; */
	padding: 20px 20px;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	position: relative;
  }
  
  #navbarSupportedContent > ul > li.active > a {
	color: #000000;
	background-color: transparent;
	transition: all 1s;
  }
  #navbarSupportedContent a:not(:only-child):after {
	content: '\f105';
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.8s;
  } 
   #navbarSupportedContent .active > a:not(:only-child):after {
	transform: rotate(90deg);
  } 
  
  .hori-selector {
	display: inline-block;
	position: absolute;
	height: 100%;

	transition-duration: 0.8s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: rgb(255, 255, 255);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	

	padding: 0;
	margin-top: 10px;
  }
  .hori-selector .right,
  .hori-selector .left {
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: rgb(255, 255, 255);
	bottom: 10px;
  }
  .hori-selector .right {
	right: -25px;
	
  }
  .hori-selector .left {
	left: -25px;
  }

  .hori-selector .right:before,
  .hori-selector .left:before {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #C4C4C4;
  }
  .hori-selector .right:before {
	bottom: 0;
	right: -25px;
  }
  .hori-selector .rigth:after {
	bottom: 0;
	right: -25px;

  }
  .hori-selector .left:before {
	bottom: 0;
	left: -25px;
  } 



/* BODY ATAS------------- */

/*cover*/


.cover {
	display: grid;
	grid-template-columns: 50% 25% 25%;
	grid-template-rows: 300px 300px;
	grid-gap: 5px 5px;
	width: 100%;
	margin: 0 auto;
}

.feature {
	position: relative;
}

.feature img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title_filter {
	position: absolute;
	bottom: 0;
	background-color: #333;
	opacity: 50%;
	width: 100%;
	height: 22%;
}

.feature_title {
	position: absolute;
	font-family: Couture;
	letter-spacing: 2px;
	bottom: 0;
	margin: 5px 10px;
	color: rgb(255, 255, 255);
}

.date {
	position: relative;
	width: 60px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 15px;
	background-color: #000000;
	padding: 10px 0px;
}

.date h3{
	line-height: 25px;
}

.date span{
	color: #fc9d03;
	display: block;
}

.feature_title h1{
	font-size: 28px;
}

.feature_title p {
	font-size: 13px;
	margin: 5px 0px;
}

.feature_title a {
	color: #fc9d03;
}

.feature_title p span {
	margin: 0px 15px;
	border-left: 1px solid #fff;
}

.cover .feature:nth-child(1) {
	grid-row: 1 / 3;
}

.cover .feature:nth-child(4) {
	grid-row: 1 / 3;
	grid-column: 3 /4;
}

.cover .feature:nth-child(3) h1, .cover .feature:nth-child(2) h1 {
	font-size: 16px;
}

.cover .feature:nth-child(3) p, .cover .feature:nth-child(2) p {
	font-size: 13px;
  padding-bottom: 10px;
}

.cover .feature:nth-child(3) .date, .cover .feature:nth-child(2) .date {
	font-size: 16px;
	width: 50px;
	padding: 2px 0px;
	margin-bottom: 5px;
}

.cover .feature:nth-child(4) .title_filter {
	height: 25%;
}

.cover .feature:nth-child(4) h1{
	font-size: 20px;
}
/* BODY ATAS------------- */

/*-------MAIN-------*/

.main_section{
	margin-top: 250px;
	position: relative;	
  }
  
/*.bg-header:before{
  position: relative;
  content: "";
  background: #fff;
  width: 100%;
  height: 50%;
}*/

.container_main{
  z-index: 1;
  width: 100%;
  margin: 15 auto;
  border-radius: 24px;
  background: #F6F5F0;
  box-shadow: 0px 10px 6px -8px rgba(0,0,0,0.75);
  margin-bottom: 200px ;
  padding-left: 10px;
}

.board {
    column-count: 1;
    column-gap: 1rem;
}
.container h2 {
    margin: 0 0 30px;
    text-align: center;
	font-weight: bold;
}
img#flag {
    height: 20px;
    width: 20px;
}
.card {
    width: 90%;
    background: #ccc;
    padding: 8%;
    margin-bottom: 20px;
    border-radius: 6px;
    color: #fff;
}
.card.a {
    background: #959696;
}
.card.cr {
    background: #5670e4;
}
.card.r {
    background: #EC1D27;
}
.card.ca {
    background: #959696;
}
.card.d {
    background: #5670e4;
}
.card.t {
    background: #EC1D27;
}
.card h5 {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}
.card span {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 25px;
}
.card i {
    font-size: 1rem;
}

/* BAGIAN UNTUK MAIN_SECTION */



/* ===================== contact us ===================== */
.link-contact{
  text-decoration: none;
  margin-left: 20px;
}

.link-contact:hover{
  text-decoration: none;
}

form {
  width: 750px;
  height: 550px;   
  border: 1px solid #858585;
  margin: 20px;
  margin-left: 300px;
  margin-bottom: 200px;

}

.form input {
  width: 300px;
  
}
.form .body-form ,input button{
margin-left: 50px;


}
.bodyText h1 {
padding: 36px;
text-align: center;
font-size: 30px;
font-weight: 600;

}
.bodyText img {
width: 250px;
position: absolute;
margin-left: 100px;
}

.fname .fname-int, input{
float: left;
margin-right: 20px;
height: 30px;
border: none;
border-bottom: 1px solid #858585;
}		

.femail .femail-int, input{
float: none;
height: 30px;

  
}

.fnomor .fnomor-int, input{
width: 200px;
float: left;
margin-right: 20px;
height: 30px;
}

.fask .fask-int, input {
float: none;
width: 400px;
height: 30px;
}

.fpesan .fpesan-int, input {
width: 620px;	
}

.fpesan, input , .fpesan-int{
height: 250px;
margin-bottom: 20px;
}

.btn-Kirim {
  width: 400px;
  margin-left: 130px;
  box-shadow: 0px 7px black;
  
}


/* ===================== footer ===================== */
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}