/* ============================ untuk bagian responsive ==============================*/
@media(max-width: 1026px){
    
  .header-mainbg img{
    
    width: 56px;
  }
   .header-logo{
    font-size: 24px;
  }
  #navbarSupportedContent ul li a {
    padding: 12px 20px;
  }
  .hori-selector {
    margin-top: 0px;
  
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }

  /* khusus contact */
  form {
    width: 850px;
    height: 580px;   
    border: 1px solid #c4c4c4;
    margin-left: 70px;
  }
  
  .form input {
    width: 360px;
    
  }

  .bodyText h1 {
    padding: 26px;
    margin-bottom: 20px;
   
  }

    .bodyText img {
    margin-left: 170px;
    width: 200px;
    
    }

    .fname .fname-int, input{
      height: 30px;
      
      /* border: 1px solid #858585; */
      background-color: #fffefe;
      border-bottom: 2px solid black;
      border-radius: 25px;
      padding: 20px;
      padding-left: 20px;
    }		
      
  .fnomor .fnomor-int, input{
    width: 250px;
    }
    
    .fask .fask-int, input {    
      width: 470px;  
    }
    
  .fpesan .fpesan-int {
    width: 730px;	
    padding: 20px;    
    }
    
      
  .btn-Kirim {
    width: 400px;
    margin-left: 170px;  
  
    
  }


}


@media (max-width: 991px) {
  
  .header-mainbg img{
    
    width: 76px;
  }
   .header-logo{
    font-size: 34px;
  }

    #navbarSupportedContent ul li a {
      padding: 12px 30px;
    }
    .hori-selector {
      margin-top: 0px;
      margin-left: 10px;
      
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
    .hori-selector .left,
    .hori-selector .right {
      
      right: 10px;
    }
    .hori-selector .left {
      top: -25px;
      left: auto;
    }
    .hori-selector .right {
      bottom: -25px;
    }
    .hori-selector .left:before {
      left: -25px;
      top: -25px;
    }
    .hori-selector .right:before {
      bottom: -25px;
      left: -25px;
    }

    .slider{
      width: 100%;
    }
  
    .slider .slide .info{
      position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .content button{
      padding: 0 10px;
      margin: 10px 0;
      border-radius: 5px;
      
    }
  }
  
  
  @media screen and (max-width: 768px){
    .container{
      width: 100%;
    }
    .header-mainbg img{
      margin-left: 20px;
      width: 62px;
    }
     .header-logo{
      padding: 0;
      font-size: 36px;
    }

    .board {
      column-count: 2;
    }
    .card span {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 500px){
    .slider .slide .info h2{
      font-size: 1.8em;
      line-height: 40px;
    }
  
    .slider .slide .info p{
      font-size: 0.9em;
    }
  
    .main_footer{
      display: list-item;
    }
  
    .board {
      column-count: 1;
    }
  }

  @media (max-width: 375px){
    .header-mainbg img{
      margin-left: 20px;
      width: 52px;
    }
     .header-logo{
      padding: 0;
      font-size: 24px;
    }
    
  }


  @media (max-width: 360px){
    .header-mainbg img{
      margin-left: 20px;
      width: 46px;
    }
     .header-logo{
      padding: 0;
      font-size: 24px;
    }
    
  }

  @media (max-width: 280px){
    .header-mainbg img{
      margin-left: 20px;
      width: 46px;
    }
     .header-logo{
      padding: 0;
      font-size: 24px;
    }

  }
  /* ============================ untuk bagian responsive ==============================*/