/*slide show*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 

font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Varela Round', sans-serif;

*/


/* -------------------------------------- */

body {  
  /* height: 100%; */
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.slider img {
  background-size: cover;
  background-position: 0 -220px; 
}

i {
  margin-right: 10px;
}

.logo-text{
  font-size: 10px;
}

.navbar-img img{
  margin-left: 20px;
}

.navbar-img a{
  font-size: 26px;
}

.navbar-logo {
  padding: 15px;
  color: black;
  text-shadow: 0px 7px  rgb(156, 156, 156);
}

.navbar-mainbg {
  background-color: #C4C4C4;
  padding: 0px;
  top: 0px;
  width: 100%;  
    
  
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}

#navbarSupportedContent ul li a i {
  margin-right: 10px;
}

#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: #959696;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarSupportedContent > ul > li.active > a {
  color: #000000;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: '\f105';
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
} 
 #navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
} 

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #C4C4C4;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
} 

/* =========================== khusus bagian Header ============================= */
.text-info-c19 {
  font-size: 36px;
  color: #2596f8;
}
.text-info-indo {
  color: red;
}

.covid-19{
  font-size: 40px;
  font-weight: 700;
  
}

.btn-outline-dark {
  background-color:  #C4C4C4;
  border: #C4C4C4;
}


/* =========================== khusus bagian Header ============================= */

/* =========================== khusus bagian Slide Show ========================= */
.slider{
  position: relative;
  background: #000116;
  width: 100%;
  height: 100%;
  margin-top: 200px;
  padding-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
  
}
 
.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 1.5s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info{
  position: absolute;
  color: rgb(255, 255, 255);
  background: rgba(5, 5, 5, 0.3);
  width: 75%;
  margin-top: 140px;
  margin-left: 150px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
  
}

.slider .slide .info h2{
  font-size: 38px;
  font-weight: 800;

}

.slider .slide .info p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 32px;
}

.info-text-link {
  color: rgb(255, 213, 149);
  text-decoration: none;
}

.info-text-link:hover{
  color: rgb(248, 192, 108);
  text-decoration: none;
}

.navigation{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{font-family: "Poppins", sans-serif;
  background: #4285F4;
  


}
/* =========================== khusus bagian Slide Show ========================= */


/* BAGIAN UNTUK MAIN_SECTION */



.main_section{
  padding: 10px 0 10px 0;
  margin-top: 250px;
  
}


.bg-header:before{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50%;
  bottom: 0;
}

.container {
  z-index: 1;
  width: 70%;
  margin: 0 auto;
    border-radius: 24px;
    background: #F6F5F0;
    padding: 2%;
    box-shadow: 0px 10px 6px -8px rgba(0,0,0,0.75);
  margin-bottom: 200px ;
}
.board {
    column-count: 3;
    column-gap: 1rem;
}
.container h2 {
    margin: 0 0 30px;
    text-align: center;
}
img#flag {
    height: 20px;
    width: 20px;
}
.card {
    width: 84%;
    background: #ccc;
    padding: 8%;
    margin-bottom: 20px;
    border-radius: 6px;
    color: #fff;
}
.card.a {
    background: #41a7ff;
}
.card.cr {
    background: #ff3434;
}
.card.r {
    background: #32b336;
}
.card.ca {
    background: #d83f3f;
}
.card.d {
    background: #ff0053;
}
.card.t {
    background: #ffa501;
}
.card h5 {
    margin: 0;
    font-size: 1rem;
}
.card span {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
}
.card i {
    font-size: 3rem;
}

/* BAGIAN UNTUK MAIN_SECTION */



/* ===================== contact us ===================== */
.link-contact{
  text-decoration: none;
  margin-left: 20px;
}

.link-contact:hover{
  text-decoration: none;
}

form {
  width: 750px;
  height: 550px;   
  border: 1px solid #858585;
  margin: 20px;
  margin-left: 300px;
  margin-bottom: 200px;

}

.form input {
  width: 300px;
  
}
.form .body-form ,input button{
margin-left: 50px;


}
.bodyText h1 {
padding: 36px;
text-align: center;
font-size: 30px;
font-weight: 600;

}
.bodyText img {
width: 250px;
position: absolute;
margin-left: 100px;
}

.fname .fname-int, input{
float: left;
margin-right: 20px;
height: 30px;
border: none;
border-bottom: 1px solid #858585;
}		

.femail .femail-int, input{
float: none;
height: 30px;

  
}

.fnomor .fnomor-int, input{
width: 200px;
float: left;
margin-right: 20px;
height: 30px;
}

.fask .fask-int, input {
float: none;
width: 400px;
height: 30px;
}

.fpesan .fpesan-int, input {
width: 620px;	
}

.fpesan, input , .fpesan-int{
height: 250px;
margin-bottom: 20px;
}

.btn-Kirim {
  width: 400px;
  margin-left: 130px;
  box-shadow: 0px 7px black;
  
}

/* ===================== contact us ===================== */

/* ===================== footer ===================== */
footer{
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
}

.main_footer{
  display: flex;
}

.main_footer .box{
  flex-basis: 50%;
  padding: 10px 20px
}

.box h2{
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content{
  margin: 20px 0 0 0;
}

.left p{
  text-align: justify;
}

.left .content .social_media{
  margin: 20px 0 0 0;
}

.left .content .social_media{
  padding: 0 2px;
}

.left .content .social_media a span{
  height: 40px;
  width: 40px;
  background: white;
  color: black;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  padding: 0 10px;
}

.left .content .social_media a span:hover{
  background: black;
  color: white;
  border: 1px solid white;
}

.content img{
  height: 80px;
  width: 80px;
  margin: 20px 0;
}

.logo_desc{
  padding: 50px 0;
  float: right;
  padding-right: 210px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.logo_desc:hover{
  text-decoration: none;
}
.logo_desc .second{
  font-size: 10px;
}
